.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and(min-width: 480px) {
    max-width: 480px;
  }
  @media screen and(min-width: 768px) {
    max-width: 768px;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1200px;
  }
}

.mob-container {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and(min-width: 480px) {
    max-width: 480px;
  }
}
