:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --origin-black: #000000;
  --accent-color: #2196f3;
  --main-border-color: #afb1b8;
}