.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.brand-list {
  display: flex;
  gap: 30px;
}
.brand-list__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.brand-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--main-border-color);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
