.footer {
  // background: var(--second-background-color);
  // padding-top: 60px;
  // padding-bottom: 60px;
  // display: flex;
  // justify-content: center;
  // margin: 0 auto;
}

.footer {
  background: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @media screen and(min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-contacts {
  text-align: center;
  @media screen and(min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    text-align: start;
    width: calc((100% - 94px) / 2);
  }
}

.footer-container {
  @media screen and(min-width: 1200px) {
    display: flex;
    gap: 94px;
    align-items: baseline;
    justify-content: flex-start;
    text-align: start;
  }
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.footer-logo-word {
  text-align: center;
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-list {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and(min-width: 1200px) {
    margin-bottom: 12px;
  }
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and(min-width: 1200px) {
  }
}

.footer-link {
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  // color: rgba(255, 255, 255, 0.6);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-background-color);
 
  margin-bottom: 20px;
  @media screen and(min-width: 1200px) {
    text-align: start;
    margin-top: 0px;
  }
}

.footer-social {
  margin-top: 60px;
  @media screen and(min-width: 768px) {
    width: calc((100% - 30px) / 2);
     margin-top: 0px;
  }
  @media screen and(min-width: 1200px) {
    width: calc((100% - 93px) / 2);
    text-align: start;
    margin-top: 0px;
  }
}

.footer-social > .footer-title {
  @media screen and(min-width: 768px) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  @media screen and(min-width: 1200px) {
    margin: 0;
    margin-bottom: 20px;
  }
}

.footer-soc-list {
  display: flex;
  gap: 10px;
  @media screen and(min-width: 768px) {
    justify-content: center;
  }
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-subscibe {
  margin-top: 60px;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }
  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    margin-top: 0px;
  }
}

.footer-form {
  // display: flex;
  // gap: 12px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and(min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

.subscribe-input {
  // padding-left: 16px;
  // color: var(--main-background-color);
  // width: 358px;
  // height: 50px;
  // background-color: transparent;
  // border: 1px solid rgba(255, 255, 255, 0.3);
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  // border-radius: 4px;
  // &::placeholder {
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 1.25;
  //   letter-spacing: 0.03em;
  //   color: rgba(255, 255, 255, 0.6);
  // }
}

.subscribe-input {
  padding-left: 16px;
  color: var(--main-background-color);
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and(min-width: 1200px) {
    width: 358px;
  }
}

.subscribe-btn {
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.88;
  // text-align: center;
  // letter-spacing: 0.06em;
  // color: var(--main-background-color);
  // display: flex;
  // padding: 10px 28px;
  // background: var(--accent-color);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  // border: 0;
  // border-radius: 4px;
  // align-items: center;
  // gap: 10px;
  // margin: 0 auto;
}

.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  display: flex;
  padding: 10px 28px 10px 31px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
  @media screen and(min-width: 1200px) {
    gap: 10px;
    padding: 10px 28px;
  }
}

.subscribe-icon {
  fill: var(--main-background-color);
}
